--------------------------------------------------------------------------------
local F = far.Flags
local Flag4BIT = bit64.bor(F.FCF_FG_4BIT, F.FCF_BG_4BIT)

----------------------------------------
local CharEnum = [[A-Za-zÀ-ÖØ-ßà-öø-ÿĀ-ʯḀ-ỿА-Яа-яЁёЎўЄєЇї΄-Ͽἀ-῿_0-9́]]
local CharsSet = "["..CharEnum.."]+"

----------------------------------------
local function DicMatch (dic, word, line, p, l)
  dic.word = word:gsub("́", "") -- Очистка слова
  return true
end -- DicMatch

----------------------------------------
Data = {
  -- Settings:
  Enabled = false,

  Path = [[%FARPROFILE%\Dictionaries\]],

  CharsSet = CharsSet,
  InnerSet = CharsSet.."$",
  StartSet = "^"..CharsSet,
  CheckSet = "/\\b"..CharsSet.."\\b/",

  ColorPrio = 199,

  MacroKeys = {
    CheckSpell  = "CtrlF12",
    Misspelling = "ShiftF12",
    SwitchCheck = "CtrlShiftF12",
  },

  -- Dictionaries:
  { lng = "rus",
    desc = "Russian",
    Type = "Hunspell",
    filename = "ru_RU_yo",
    --find = [[/[А-Яа-яЁё]+/]],
    find = [[/^[А-Яа-яЁё]{2,}$/]],
    match = DicMatch,
    color = {
      Flags = Flag4BIT,
      ForegroundColor = 0xF,
      BackgroundColor = 0x4,
    },
    Enabled = true,
  },
  { lng = "eng",
    desc = "English",
    Type = "Hunspell",
    filename = "en_US",
    --find = [[/[A-Za-z]+/]],
    find = [[/^[A-Za-z]{2,}$/]],
    match = DicMatch,
    color = {
      Flags = Flag4BIT,
      ForegroundColor = 0xF,
      BackgroundColor = 0x5,
    },
    Enabled = true,
  },
  { lng = "grk",
    desc = "Greek",
    Type = "Hunspell",
    filename = "el_GR",
    --find = [[/[΄-Ͽἀ-῿]+/]],
    find = [[/^[΄-Ͽἀ-῿]{2,}$/]],
    match = DicMatch,
    color = {
      Flags = Flag4BIT,
      ForegroundColor = 0xF,
      BackgroundColor = 0x6,
    },
    Enabled = true,
  },

} --
--------------------------------------------------------------------------------
